#notesMobileDiv {
    border-bottom: 1px solid black;
} 

#notesMobileDiv:last-child{
    border-bottom: none;
}

#notesMobileDiv a {
    color: black;
    text-decoration: none;
}

#notesMobileDivTitleDate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: .25rem .25rem .35rem .5rem;
    line-height: normal;
    line-break: anywhere;
}
#notesMobileContent {
    overflow: hidden;
    white-space: pre;
    line-break: strict;
}

#notesMobileDiv span {
    text-overflow: ellipsis;
}

#notesMobileDivIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .7rem;
    border-right: 1px solid black;
    font-size: 1.2rem;
}

#noteMobileDate {
    font-size: .6rem;
}

#mobileNoteContainer {
    display: relative;
}